<div class="main-container">
  <header class="header-6">
    <div class="branding">
      ...
    </div>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
      <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              Header
            </div>
            <div class="card-block">

              <div class="card-text">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Decimal</th>
                      <th>Hexadecimal</th>
                      <th>Binary</th>
                      <th>Roman Numeral</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>1</td>
                      <td>1</td>
                      <td>I</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>5</td>
                      <td>101</td>
                      <td>V</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>A</td>
                      <td>1010</td>
                      <td>X</td>
                    </tr>
                    <tr>
                      <td>15</td>
                      <td>F</td>
                      <td>1111</td>
                      <td>XV</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link">Footer Action 1</button>
              <button class="btn btn-sm btn-link">Footer Action 2</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active">Charmander</a>
      <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active">Jigglypuff</a>
      <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active">Pikachu</a>
      <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active">Raichu</a>
      <a clrVerticalNavLink routerLink="./snorlax" routerLinkActive="active">Snorlax</a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">Credit</a>
    </clr-vertical-nav>
  </div>
</div>
